/* *,*::before, *::after{
  box-sizing:border-box;
  font-family: 'Times New Roman', Times, serif;
} */

/* body{
  padding:0;
 margin:0;
 display:flex;
 justify-content:center;
 align-items:center;
 width:100vw;
 height:100vw;
 background: green;
} */
#answer{
  padding:50px 10px;

background-color: lawngreen;

}
 #timer{
margin:300px;
margin: 40px 40px;
 }
#question{
  padding:40px ;
 float: left;
  background-color: white;

  margin: 40px 40px;
}
#choices{
  flex: auto;
}

#start{
  font-size:1.5rem;
  margin: 100px 40px;
  font-weight:bold;
  padding:10px 20px;
  background-color: indianred;
float: right;
}

#container{
background-color: brown;

}

#quiz{
  width:70%;
  height:70%;
  background-color: cornflowerblue;
  margin:40px 40px;

}


