*,*::before, *::after{
  box-sizing:border-box;
  font-family: 'Times New Roman', Times, serif;
}

body{
  padding:0;
 margin:0;
 display:flex;
 justify-content:center;
 align-items:center;
 width:100vw;
 height:20vw;
 background: green;
}
#answerDiv{
  padding:50px 10px;
width:80%;
background-color: lawngreen;

}
 #timerDiv{
margin:300px;
margin: 40px 40px;
 }
#qDiv{
  padding:40px ;
  width:80%;
  background-color: lightpink;

  margin: 40px 40px;
}


#start{
  font-size:1.5rem;
  margin: 40px 40px;
  font-weight:bold;
  padding:10px 20px;
  background-color: indianred;

}






